body{
  background-image:url('https://64.media.tumblr.com/e19b3f4ea2e5ae25e3f6c960aef1b723/tumblr_pklurmZeAj1w5tjdn_500.gif');
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center
}